/**
 * Overall styles
 */

.filefield-icon {
  float: left;
}

.filefield-icon img {
  display: inline;
}

/* End overall styles */

/**
 * Formatter styles
 */

.filefield-item .filefield-icon {
  margin-right: 0.4em;
}

/**
 * Stolen from "How To Clear Floats Without Structural Markup",
 * http://www.positioniseverything.net/easyclearing.html
 */
.filefield-item:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html .filefield-item {height: 1%;}
/* End hide from IE-mac */

/* End formatter styles */

/**
 * Widget form styles
 */

.filefield-file-flags {
  float: right;
  text-align: right;
  width: 10%;
}

.form-item .filefield-icon {
  margin-top: 0.6em;
  margin-right: 0.7em;
}

/* The text field is made unnecessarily long by node.css - shorten it */
.filefield-generic-description .form-text {
  width: 80%;
}
.filefield-generic-description .description {
  width: 80%;
  white-space: normal;
  margin-bottom: 0;
  overflow: auto; /* indent on line wraps */
}

/* Only applies to single-value fields, for which we provide our own table. */
.filefield-file-container-table {
  width: 90%;
  margin-top: 3px;
  margin-bottom: 2px;
}

/* End widget form styles */
